@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */

@font-face {
  font-family: digital;
  src: url(../fonts/DS-DIGIT.TTF);
}

@layer utilities {
  .favFont {
    font-family: digital;
  }
  .shadowFav {
    background: #020202dc;
    background: radial-gradient(
      circle,
      rgba(37, 37, 37, 0.411) 9%,
      rgba(0, 0, 0, 0) 56%
    );
  }
  .shadowNumber {
    box-shadow: 0px 1px 20px rgb(255, 255, 255);
  }
  .showBtnDL {
    left: 52%;
    transition: all 0.4s linear;
  }
  .backBtnDL {
    left: 0%;
    transition: all 0.4s linear;
  }
}
