@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */

@font-face {
  font-family: digital;
  src: url(../fonts/DS-DIGIT.TTF);
}

body {
  font-family: digital;
}

@layer utilities {
  .favFont {
    font-family: digital;
  }
  .shadowFav {
    background: #201f1fdc;
    background: radial-gradient(
      circle,
      rgba(37, 37, 37, 0.411) 9%,
      rgba(0, 0, 0, 0) 56%
    );
  }
  .shadowNumber {
    box-shadow: 0px 1px 20px rgb(255, 255, 255);
  }
  .showBtnDL {
    left: 52%;
    transition: all 0.4s linear;
  }
  .backBtnDL {
    left: 0%;
    transition: all 0.4s linear;
    color: #181818e1;
  }
  .rounded1 {
    border-radius: 75% 25% 17% 83% / 16% 50% 50% 84%;
    animation: rot1 20s linear alternate infinite;
  }
  .rounded2 {
    border-radius: 32% 68% 49% 51% / 90% 54% 46% 10%;
    animation: rot2 10s linear alternate infinite;
  }
  .bgRounded {
    border-radius: 14% 86% 0% 100% / 75% 0% 100% 25%;
  }
}
@keyframes rot1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rot2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
